@model IEnumerable<Ngo.Models.Campaign>

@{
    ViewData["Title"] = "Index";
}

<h1>Campaigns</h1>

<p>
    <a class="button btn-sm btn-danger" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampaignName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
               @* @Html.DisplayFor(modelItem => item.ImageUrl)*@
                    <img src="@item.ImageUrl">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignCategory.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CamaignId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CamaignId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CamaignId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
