@model IEnumerable<Ngo.Models.Campaign>


@using Ngo.Models.Enums
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Index";
    var user = await _userManager.GetUserAsync(this.User);
    var isAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.NgoAdmin.ToString());
}
<h1>Campaigns</h1>

@if (isAdmin)
{
    <p>
        <a class="button btn-sm btn-danger" asp-action="Create">Create New</a>
    </p>
}
else{
    <p></p>
}
@*@{
    var i=1;
    //var donation = Ngo.Models.DonationI;
    

}*@
@foreach(var item in Model){

    @*int count;
   
    @foreach (var itemm in )
    {
        @if (itemm.CamaignId == i)
        {
             count = itemm.DonationAmount + count;
        }

    }*@
    <div>
        
        <!-- Features Start -->
        <div class="container-fluid" style="background-color:coral">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mt-5 py-5 pr-lg-5">
                        <h6 class="text-danger font-weight-normal text-uppercase mb-3">Event is about</h6>
                        <h1 class="mb-4 section-title"> @item.CampaignName</h1>
                        <p class="mb-4">@item.Discription)</p>
                        @if(!isAdmin){
                        <a class="btn btn-success mt-3 py-2 px-4" asp-area="Events" asp-controller="DonationIs" asp-action="create" asp-route-id="@item.CamaignId">Donate</a>
                        }else{
                            <a></a>
                        }
                        @if(isAdmin){
                         <a class="btn btn-warning mt-3 py-2 px-4" asp-action="Edit" asp-route-id="@item.CamaignId">Edit</a> 
                <a class="btn btn-danger mt-3 py-2 px-4" asp-action="Delete" asp-route-id="@item.CamaignId">Delete</a>
                            <a class="btn btn-info mt-3 py-2 px-4" asp-area="Events" asp-controller="Volunteers"
                       asp-action="GetVolunteersOfCategory"
                       asp-route-filterCategoryId="@item.CamaignId">Volunteers</a>
                            <a class="btn btn-warning mt-3 py-2 px-4" asp-area="Events" asp-controller="DonationIs"
                       asp-action="GetDonorsOfCategory"
                       asp-route-filterCategoryId="@item.CamaignId">Recieved Donation</a>

                        }
                        else{
                            <a></a>
                        }
                        <a class="btn btn-danger mt-3 py-2 px-4" asp-action="Details" asp-route-id="@item.CamaignId">Details</a>
                        @*<p>@count </p>*@
                    </div>
                    <div class="col-lg-5">
                        <div class="d-flex flex-column align-items-center justify-content-center h-100 overflow-hidden">
                            <img class="h-100" src=" @item.ImageUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->
    </div>
    <br />
}
