@model IEnumerable<Ngo.Models.DonationI>
@using Ngo.Models.Enums
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Index";
    var user = await _userManager.GetUserAsync(this.User);
    var isAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.NgoAdmin.ToString());
}

<h1></h1>
@if (isAdmin)
{
<h1></h1>

<p>
    <a asp-action="Create">New Donar</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr class="table-danger">
            <td>
                @Html.DisplayFor(modelItem => item.DonarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.CampaignName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
else{
    <h1 style="text-align:center">Thank You For Donating</h1>
    <h2 style="text-align:center">We will late you know more details after some time on your personal mail</h2>
}