@model IEnumerable<Ngo.Models.DonationI>
@using Ngo.Models.Enums
@using Microsoft.AspNetCore.Identity
@using Ngo.Data
@using Ngo.Models

@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Index";
    var user = await _userManager.GetUserAsync(this.User);
    var isAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.NgoAdmin.ToString());
}
<h1></h1>

@if (isAdmin)
{
<h1></h1>

<p>
    <a class="button btn-sm btn-danger" asp-action="Create1">New Donar</a>
</p>
<table class="table table-bordered border-success">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

                <tr class="table-danger  text-dark">
            <td>
                @Html.DisplayFor(modelItem => item.DonarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.CampaignName)
            </td>
            <td>
               <a class="button btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.DonationId">Edit</a>
                        <a class="button btn-sm btn-info" asp-action="Details" asp-route-id="@item.DonationId">Details</a>
                        <a class="button btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.DonationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <div style="text-align: center;" class="text-success">
        <h3>Total</h3>
        <h4 style="text-danger">@ViewBag.DonationAmount</h4>
    </div>

            
}
else{
    <h1 style="text-align:center">Thank You For Donating</h1>
    <h2 style="text-align:center">We will late you know more details after some time on your personal mail</h2>
}