@model IEnumerable<Ngo.Models.CampaignCategory>

@using Ngo.Models.Enums
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Index";
    var user = await _userManager.GetUserAsync(this.User);
    var isAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.NgoAdmin.ToString());
}

<h1></h1>
@if (isAdmin)
{

    <p>
        <a class="btn btn-sm btn-danger" asp-action="Create">Create New</a>
    </p>
}
else{
    <p></p>
}
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    @if (isAdmin) {
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                    
                    <a asp-action = "Delete" asp-route-id = "@item.CategoryId" > Delete </a >
                    }
                    else{
                        <a></a>
                    }
                    <a asp-area="Events" asp-controller="Campaigns"
                   asp-action="GetCampaignsOfCategory"
                   asp-route-filterCategoryId="@item.CategoryId">Campaigns</a>
            </td>
        </tr>
}
    </tbody>
</table>
